{% extends "base.html" %}

{% block title %}展示頁面{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/demo.css') }}">
{% endblock %}

{% block content %}
<h2>這是一個靜態展示頁面</h2>
<p>老師您好，我想要對於目前展示的這兩個功能做說明。</p>
    <p>目前是先展示了內輪差在模擬右轉彎以及偵測是否有疲勞駕駛的狀況，</p>
    <p>那關於軟體以及AI的部分，我們跟會長討論過後的結果，比較像是要把我們的目標願景，</p>
    <p>往上去延伸，會長主要提到的是我們在系統目標上應先專注於提供給大型車輛即時的AI輔助駕駛系統，</p>
    <p>但在未來展望上，會希望可以將我們規劃的AI資訊系統服務給各式車種，</p>
    <p>所以我們也在跟會長討論完後，針對我們專題內容，無論是系統、軟體服務、硬體規劃及商業考量上，</p>
    <p>都算是換了一個不一樣的版本，那我們也預估在一評前，針對鏡頭及AI服務都能夠有基礎的功能能夠展示，</p>
    <p>那我們也會持續與會長保持聯絡，並盯緊我們組內後續的系統建置進度。</p>
{% endblock %}
