{% extends 'layout.html' %}

{% block content %}
<div class="form-container">
    <h2>設定車輛資訊</h2>
    <form method="post">
        <label>車輛廠牌：</label><br>
        <input type="text" name="car_brand" required><br><br>

        <label>車牌號碼：</label><br>
        <input type="text" name="car_plate" required><br><br>

        <label>車種：</label><br>
        <select name="vehicle_type" required>
            <option value="">--請選擇--</option>
            <option value="大客車">大客車</option>
            <option value="大貨車">大貨車</option>
            <option value="連結車">聯結車</option>
        </select><br><br>

        <label>駕駛座方向：</label><br>
        <select name="driver_position" required>
            <option value="">--請選擇--</option>
            <option value="左駕">左駕</option>
            <option value="右駕">右駕</option>
        </select><br><br>

        <button type="submit" class="main-btn">送出設定</button>
    </form>
</div>
{% endblock %}
